{{ ansible_managed | comment }}
{{ mysql_log_dir }}/*.log{
    compress
    monthly
    rotate 6
    create 600 mysql mysql
    postrotate
        # just if mysqld is really running
        if test -x /usr/bin/mysqladmin && /usr/bin/mysqladmin ping &>/dev/null
        then
           env HOME=/root/ /usr/bin/mysqladmin flush-logs
        fi
    endscript
}
